/* language */
/* @import "../theme/theme-colors.css"; */

/* .language-switcher {
  position: absolute;
  top: 15px;
  right: 20px;
} */

.menu {
  width: 2.5em;
}

.languageSwitcher {
  display: flex;
  /* flex-direction: column; */
  /* row-gap: 3px; */
  gap: 2px;
}

.langsVertical {
  flex-direction: column;
}

.languageSwitcher button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 13px;
}

.languageSwitcher button:hover {
  filter: invert(1);
}

/* 1st yellow button style */
.languageSwitcher button.active {
  background-color: #ffc107;
  color: #000;
  border-color: #ffc107;
}

/* 2nd button style */
.languageSwitcher button {
  border: 1px solid #4824ff;
  color: #4824ff;
}

.languageSwitcher button.active {
  /* background-color: #4824ff;
  color: #fff;
  border-color: #4824ff; */

  background-color: #ffc107;
  color: #000;
  border-color: #ffc107;
}

/* adaptive */
@media (min-width: 320px) {
}
@media (min-width: 375px) {
}
@media (min-width: 412px) {
}
@media (min-width: 500px) {
}
@media (min-width: 768px) {
  /* .language-switcher button {
    font-size: 0.6em;
  } */
}

@media (min-width: 900px) {
}

@media (min-width: 1024px) {
}
@media (min-width: 1024px) {
  /* .languageSwitcher button {
    font-size: 13px;
  } */
}

@media (min-width: 1440px) {
  /* .languageSwitcher button {
    font-size: 18px;
  } */
}
