/* src/components/animation/Image4sides_moving.css */

.hero-image {
  width: 90%;
  margin: 0 auto;
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  25% {
    transform: translate(8px, -10px) rotate(1deg);
  }

  50% {
    transform: translate(0px, -20px) rotate(0deg);
  }

  75% {
    transform: translate(-8px, -10px) rotate(-1deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@media (min-width: 320px) {
}
@media (min-width: 375px) {
}
@media (min-width: 412px) {
}
@media (min-width: 500px) {
}
@media (min-width: 768px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
